[submodule "dependencies/neith"]
	path = dependencies/neith
	url = https://github.com/mattbierner/neith
[submodule "dependencies/ecma-ast"]
	path = dependencies/ecma-ast
	url = https://github.com/mattbierner/ecma-ast
