[submodule "dependencies/neith"]
	path = dependencies/neith
	url = https://github.com/mattbierner/neith.gi
[submodule "dependencies/ecma-ast"]
	path = dependencies/ecma-ast
	url = https://github.com/mattbierner/ecma-ast.git
[submodule "dependencies/nu"]
	path = dependencies/nu
	url = https://github.com/mattbierner/nu.git